# Bab 3 Karakteristik Data Pada Series

## List dan Dictonary

In [1]:
import pandas as pd

In [2]:
teman = ['Joni Gudel', 'Edi Yunani', 'Toni Sulung', 'Retno Mimin']

### Membuat Series dari Dictonary

In [3]:
temanakrab = {0: 'Joni Gudel', 1: 'Edi Yunani', 2: 'Toni Sulung', 3: 'Retno Mimin'}

In [4]:
a = pd.Series(teman)
b = pd.Series(temanakrab)

### Method Equal

Pada Pandas, series yang dibuat menggunakan list maupun dictonary akan dianggap sama.

In [5]:
a.equals(b)

True

In [6]:
pd.Series(temanakrab)

0     Joni Gudel
1     Edi Yunani
2    Toni Sulung
3    Retno Mimin
dtype: object

### Parameter Index

Yang perlu menjadi catatan adalah index dalam bentuk teman1 samapai teman4 itu hanya digunakan untuk keperluan mempresentasikan data saja dan tidak menggantikan index aslinya secara permanen.

In [7]:
pd.Series(data=teman, index=['teman1', 'teman2', 'teman3', 'teman4'])

teman1     Joni Gudel
teman2     Edi Yunani
teman3    Toni Sulung
teman4    Retno Mimin
dtype: object

In [8]:
pd.Series(data=teman)

0     Joni Gudel
1     Edi Yunani
2    Toni Sulung
3    Retno Mimin
dtype: object

## Atribut Name

Atribut name dapat dimanfaatkan untuk memberi nama spesifik pada sebuah series. Dengan begitu, series it dapat dikenali fungsi dan tujuannnya.

In [9]:
namaTeman = pd.Series(teman)
namaTeman.name = 'Daftar Nama Teman'
namaTeman

0     Joni Gudel
1     Edi Yunani
2    Toni Sulung
3    Retno Mimin
Name: Daftar Nama Teman, dtype: object

## Method Head() dan Tail()

In [10]:
angka = pd.Series(range(100))
angka

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Length: 100, dtype: int64

In [19]:
angka.head(10)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [12]:
angka.tail(10)

90    90
91    91
92    92
93    93
94    94
95    95
96    96
97    97
98    98
99    99
dtype: int64