# Bab 5 Bekerja Dengan File CSV

## Membuka File CSV

In [19]:
import pandas as pd
pd.read_csv('data/datamurid.csv')

               Nama  IPA  IPS  Inggris  Matematika
0      Bejo Samusir   80   87       85          78
1          Edi Noor   65   59       94          89
2    Samsudin Ceria   85   66       64          70
3   Endang Kumpreni   60   90       79          80
4        Joni Gudel   50   89       89          50
5      Dona Ceriwis   60   39       69          80
6       Soni Samson   70   66       90          90
7      Joko Ngendon   50   79       96          79
8   Petrus Kanisius   90   98       79          80
9     Jupri Pingsut  100   50       98          80
10      Roki Gembul   59   77       56          90
11    Ahonk Gituloh   60   89       70          70
12    Yanuar Mareti   70   69       80          80
13     Saksi Bissou   80   77       80          90
14   Raffi Benernih   80   80       79          70
15     Hotma Dotcom   90   90       80          80

### Menggunakan Parameter Sep

In [20]:
pd.read_csv('data/datamurid.csv', sep=',')

               Nama  IPA  IPS  Inggris  Matematika
0      Bejo Samusir   80   87       85          78
1          Edi Noor   65   59       94          89
2    Samsudin Ceria   85   66       64          70
3   Endang Kumpreni   60   90       79          80
4        Joni Gudel   50   89       89          50
5      Dona Ceriwis   60   39       69          80
6       Soni Samson   70   66       90          90
7      Joko Ngendon   50   79       96          79
8   Petrus Kanisius   90   98       79          80
9     Jupri Pingsut  100   50       98          80
10      Roki Gembul   59   77       56          90
11    Ahonk Gituloh   60   89       70          70
12    Yanuar Mareti   70   69       80          80
13     Saksi Bissou   80   77       80          90
14   Raffi Benernih   80   80       79          70
15     Hotma Dotcom   90   90       80          80

## Series dan DataFrame

In [21]:
teman = ['Joni Gudel', 'Edi Yunani', 'Toni Sulung', 'Retno Mimin']

#### Menggunakan Type

In [22]:
tm = pd.Series(teman)
type(tm)

pandas.core.series.Series

In [23]:
nilaisiswa = pd.read_csv('data/datamurid.csv')
type(nilaisiswa)

pandas.core.frame.DataFrame

### Usecols

In [24]:
pd.read_csv('data/datamurid.csv', sep=',', usecols=['Nama', 'Inggris'])

               Nama  Inggris
0      Bejo Samusir       85
1          Edi Noor       94
2    Samsudin Ceria       64
3   Endang Kumpreni       79
4        Joni Gudel       89
5      Dona Ceriwis       69
6       Soni Samson       90
7      Joko Ngendon       96
8   Petrus Kanisius       79
9     Jupri Pingsut       98
10      Roki Gembul       56
11    Ahonk Gituloh       70
12    Yanuar Mareti       80
13     Saksi Bissou       80
14   Raffi Benernih       79
15     Hotma Dotcom       80

## Squeeze

In [25]:
namasiswa = pd.read_csv('data/datamurid.csv', sep=',', usecols=['Nama']).squeeze()
type(namasiswa)

pandas.core.series.Series

In [26]:
namasiswa

0        Bejo Samusir
1            Edi Noor
2      Samsudin Ceria
3     Endang Kumpreni
4          Joni Gudel
5        Dona Ceriwis
6         Soni Samson
7        Joko Ngendon
8     Petrus Kanisius
9       Jupri Pingsut
10        Roki Gembul
11      Ahonk Gituloh
12      Yanuar Mareti
13       Saksi Bissou
14     Raffi Benernih
15       Hotma Dotcom
Name: Nama, dtype: object

## Parameter index_col

In [27]:
pd.read_csv('data/datamurid.csv', sep=',', usecols=['Nama', 'IPA'], index_col='Nama').squeeze()

Nama
Bejo Samusir        80
Edi Noor            65
Samsudin Ceria      85
Endang Kumpreni     60
Joni Gudel          50
Dona Ceriwis        60
Soni Samson         70
Joko Ngendon        50
Petrus Kanisius     90
Jupri Pingsut      100
Roki Gembul         59
Ahonk Gituloh       60
Yanuar Mareti       70
Saksi Bissou        80
Raffi Benernih      80
Hotma Dotcom        90
Name: IPA, dtype: int64